@media screen and (max-width: 900px) {
  .popup {
    visibility: hidden;
    position: absolute;
    background-color: rgba(145, 222, 236, 0.7);
    max-width: fit-content;
    box-shadow: 0px 0px 5px 5px #c0c0c0;
  }
}
